/*
 * plugdigital.net
 */

#login-image-current{ background-repeat: no-repeat; background-size: contain; height: 150px; margin-bottom: 1.5em; width: 100% }

.button-danger{ background-color: #d9534f !important; border-color: #d43f3a !important; color: #fff !important}