/*
 * plugdigital.net
 */

#login-image-current{ background-repeat: no-repeat; background-size: contain; width: 100%; height: 150px }

.button-danger{ color: #fff !important; background-color: #d9534f !important; border-color: #d43f3a !important }